# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info
dist/
build/
*.so

# Logs and databases
*.log
*.sqlite
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Ignore the configuration file containing sensitive tokens
config.json
